<style>
    #tags{
        margin-top: 0;
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">

    <%- partial('_widget/category-cloud') %>

    <%- partial('_widget/tag-cloud') %>

    <%- partial('_widget/tag-wordcloud') %>


</main>
